<!DOCTYPE html>
<html>
<head>

  <title>Vidiyo | d.i.y. how-to videos</title>
  <meta name=viewport content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
  <link href="http://vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
<script src="http://vjs.zencdn.net/4.12/video.js"></script>
<style type="text/css">
  .video-js { padding-top: 56.25%; }
  .vjs-fullscren { padding-top: 0px; }
  .vjs-default-skin { color: #ffffff; }
  .vjs-default-skin .vjs-play-progress,
  .vjs-default-skin .vjs-volume-level { background-color: #000000 }
  .vjs-default-skin .vjs-control-bar,
  .vjs-default-skin .vjs-big-play-button { background: rgba(255,79,0,0.7) }
  .vjs-default-skin .vjs-slider { background: rgba(255,79,0,0.2333333333333333) }
  .vjs-default-skin .vjs-control-bar { font-size: 60% }
</style>

  <!--     Font Awesome     -->
    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
</head>
<body>

  <!-- blurp -->

<div id="wrap">
<div id="navbar-full">
    <div id="navbar">
       <!--    
        navbar-default can be changed with navbar-ct-blue navbar-ct-azzure navbar-ct-red navbar-ct-green navbar-ct-orange  
        -->
        <nav class="navbar navbar-ct-blue navbar-fixed-top" role="navigation">
            <% if notice.present? %>
              <div class="alert alert-info">
                <div class="container">
                  <span class="glyphicon glyphicon-check" aria-hidden="true"></span>&nbsp;<%= notice %><a href="#" class="close" data-dismiss="alert">&times;</a>
                </div>
              </div>
            <% end %>
            <% if alert.present? %>
              <div class="alert alert-danger">
                <div class="container">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>&nbsp;<%= alert %><a href="#" class="close" data-dismiss="alert">&times;</a>
                </div>
              </div>
            <% end %>
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <%= link_to root_url, :class => 'navbar-brand' do %>
              Vi<span>diy</span>o
              <!-- <small>how-to videos for d.i.y.</small> -->
                <% end %>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                        <% if user_signed_in? %>
                          <li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></li>
                        <% else %>
                          <li><%= link_to 'Sign in', new_user_session_path, :class => 'btn btn-sign-in' %></li>
                          <li><%= link_to 'Sign up', new_user_registration_path %></li>
                        <% end %>
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    <li>
                      <%= link_to 'See All Courses', courses_path %>
                    </li>
                  </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
    </div><!--  end navbar -->

</div> <!-- end menu-dropdown -->
<br /><br /><br />
<%= yield %>

</div> <!--end wrap div-->


<br class="clr" />

<div id="footer">
  <div class="container">
    <b>Ahoy Teachers!</b>
    <br />
    <%= link_to 'Teach a Course, Get Paid', new_instructor_course_path %>
  </div>
</div>

</body>
</html>
